---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    {{ post.content }}

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}січня
        {% when '2' %}лютого
        {% when '3' %}березня
        {% when '4' %}квітня
        {% when '5' %}травня
        {% when '6' %}червня
        {% when '7' %}липня
        {% when '8' %}серпня
        {% when '9' %}вересня
        {% when '10' %}жовтня
        {% when '11' %}листопада
        {% when '12' %}грудня
      {% endcase %}
      {{ post.date | date: "%Y" }} р.</time>

  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Старіші</a>
  {% else %}
    <span class="pagination-item older">Старіші</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Новіші</a>
  {% else %}
    <span class="pagination-item newer">Новіші</span>
  {% endif %}
</div>
