<header class="masthead">
  <div class="masthead-title">
    <a class="masthead-logo" href="{{ site.Home.RelPermalink }}" rel="home" aria-label="{{ site.Title }}">
      {{- (resources.Get "logo.svg").Content | safeHTML -}}
    </a>
    {{ with site.Params.tagline }}<small>{{ . }}</small>{{ end }}
  </div>
  <nav class="masthead-nav" aria-label="{{ i18n "mainNav" }}">
    {{- $current := . }}
    {{- range slice "archive" "about" }}
      {{- with site.GetPage . }}
    <a href="{{ .RelPermalink }}"{{ if eq . $current }} aria-current="page"{{ end }}>{{ .LinkTitle }}</a>
      {{- end }}
    {{- end }}
    {{ partial "language-switch.html" . }}
  </nav>
</header>
