// Body resets
//
// Update the foundational and global aspects of the page.

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Arial Nova", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

/* Scrollbar */

/* Light mode */
@media (prefers-color-scheme: light) {
  html {
    --scrollbarBG: rgb(241, 241, 241);
    --thumbBG: rgb(194, 194, 194);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
    --scrollbarBG: rgb(26, 25, 24);
    --thumbBG: rgb( 137, 136, 135,  .25 );
  }
}

body {
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}


/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    color: #515151;
    background-color: #fff;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color:  rgb( 137, 136, 135      );
    background-color: rgb(  36,  35,  34      );
  }
}

body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  a {
    color: #268bd2;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  a {
    color: rgb( 240, 106,  33      );
  }
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  text-decoration: none;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

figcaption {
  font-style: italic;
  font-size: .8rem;
  margin-top: -.5rem;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/*
table, thead, tbody, tr, th, td,
{
  margin: 0;
  padding: 0;
  outline: none;
  text-indent: 0;
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: baseline;
}

table {
  empty-cells: show;
  border-collapse: collapse;  
}
*/

table {
  margin-bottom: 1rem;
  font-size: 100%;
  border-collapse: collapse;
}

td,
th {
  padding: 0 15px 10px 0;
}

th {
  text-align: left;
}