// Messages
//
// Show alert messages to users. You may add it to single elements like a `<p>`,
// or to a parent if there are multiple elements to show.

/* Light mode */
@media (prefers-color-scheme: light) {
  .message {
    color: #717171;
    background-color: #f9f9f9;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .message {
    color: #fff;
    background-color: #0040cc;
  }
}

.message {
  font-size: 26px;
  line-height: 34px;
  margin-bottom: 1rem;
  padding: .4em 0.4em .8em;
}
