// Typography
//
// Headings, body text, lists, and other misc typographic elements.

/* Light mode */
@media (prefers-color-scheme: light) {
  h1, h2, h3, h4, h5, h6 {
    color: #313131;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  h1, h2, h3, h4, h5, h6 {
    color: rgb( 255, 255, 255      );
  }
}


h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  strong {
    color: #303030;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  strong {
    color: rgb( 255, 255, 255      );
  }
}


ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  hr {
    border-top: #eee;
    border-bottom: #fff;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  hr {
    border-top: rgba( 137, 136, 135, .25 );
    border-bottom: rgba( 137, 136, 135, .25 );
  }
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  abbr {
    color: #555;

    &[title] {
      cursor: help;
      border-bottom: 1px dotted #e5e5e5;
    }
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  abbr {
    color: rgb( 255, 255, 255      );

    &[title] {
      cursor: help;
      border-bottom: 1px dotted rgba( 137, 136, 135, .25 );
    }
  }
}

abbr {
  font-size: 85%;
  font-weight: bold;
  
  text-transform: uppercase;

  
}


/* Дійшов сюди */

/* Light mode */
@media (prefers-color-scheme: light) {
  blockquote {
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  blockquote {
    color: rgb( 137, 136, 135      );
    border-left: .25rem solid rgb( 240, 106,  33      );
  }
}

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 30em) {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}


// Markdown footnotes
//
// See the example content post for an example.

// Footnote number within body text
a[href^="#fn:"],
// Back to footnote link
a[href^="#fnref:"] {
  display: inline-block;
  margin-left: .1rem;
  font-weight: bold;
}

// List of footnotes
.footnotes {
  margin-top: 2rem;
  font-size: 85%;
}

// Custom type
//
// Extend paragraphs with `.lead` for larger introductory text.

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
